# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# SQLite
*.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Misc
*.egg-info/